<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="{{ myuser.id }}" method="post">
        {% csrf_token %}
        <label for="firstname">Firstname :</label><input type="text" name="firstname" value="{{ myuser.firstname }}">
        <br><br>
        <label for="lastname">Lastname :</label><input type="text" name="lastname" value="{{ myuser.lastname }}">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    {% if empty %}
    <h3>Error : You must Type anything to pass</h3>
    {% endif %}
</body>
</html>